.lists-container{
  display: flex;
  flex-direction:column;
  height:100%;

  .new-list{
    flex:0 1 auto;
    padding:10px 0;
    display:block;
    border:0;
    border-bottom:1px solid #bbb;
    cursor:pointer;
    color:#333;
  }

  .lists{
    flex:1 1 auto;
    list-style:none;
    margin:0;
    padding:0;
    > li{
      > button{
        border:0;
        border-bottom:1px solid #bbb;
        display: block;
        padding:10px 0;
        width:100%;
        cursor: pointer;
      }
      &.open{
        > button{
          background-color:rgba(0,0,0,0.2);
        }
      }
    }
  }
}